<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    
    <div class="actual-about">
       <h2>Our Mission</h2>
       <p class="mission"> At Blogify, our mission is to provide a platform for individuals to share their thoughts, experiences, and expertise with the world. We believe in the power of storytelling and aim to empower our users to express themselves freely through blogging.</p>
    </div>
    
</body>
</html>