<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>


            <div class="about">

                <form action="">
                    <div class="grid">
                        <label class="mb-8" for="title">Blog Title : </label>
                        <input class="form-class" type="text" id="title" required>
                    </div>
                    <div class="grid">
                        <label class="mb-8" for="snippet">Blog snippet : </label>
                        <input type="text" class="form-class" id="snippet" required>
                    </div>


                    <div class="grid">
                        <label class="mb-8" for="body">Blog Body :</label>
                        <textarea id="body" class="form-class" required></textarea>
                    </div>
                    <div class="form-btn">
                        <button class="btn-class">Submit</button>
                    </div>
                

                   
                </form>

            </div>

    </body>

</html>