<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/style.css">
    <!-- here above you dont have to give relative file path in href of link as express will serve static files from the public directory  -->
    
</head>