<div class="flex justify-between bg-cadet">
    <div class="blog">
        <p class="pl-15">Blogify ✍️ </p>
        
    </div>
   
    <div class="flex align-center justify-center">
        <nav>
            <span class="p-40">
                <a href="/"> Home</a>
            </span>
            <span class="p-40">
                <a href="/about"> About</a>
            </span>
            <span class="p-40">
                <a href="/new-blog">New Blog</a>
            </span>
        </nav> 
    </div>

    
</div>
